					
#ap
	{position:absolute;top:85px;width:180px;height:10px;overflow:auto;border:2px solid gray;left:110px;}	

#ap .ui-slider-handle { border:2px solid gray;background:gray;width:2px }

#ap_val
	{position:absolute;top:80px;width:40px;height:20px;overflow:auto;left:300px;border:0; color: #ef2929;/*#f6931f*/; font-weight:bold;}	
