

		#tabs
			{position:absolute;width:98%;height:835px;font-family:Times New Roman,times,serif;}
		
		#tabs-1	
			{position:absolute;top:157px;width:1193px;height:659px;font-family:"Times New Roman",times,serif;border:2px solid gray;}
			
			#function1
				{position:absolute;top:10px;width:370px;height:460px;border-style:ridge;border-width:5px;left:10px;}
				
				#pw
					{position:absolute;top:80px;width:250px;height:30px;}
					
				#ap1
					{position:absolute;top:115px;width:180px;height:30px;overflow:auto;}	
									
				#ap
					{position:absolute;top:115px;width:180px;height:10px;overflow:hidden;border:2px solid gray;left:110px;}	
				
				#ap .ui-slider-handle { border:2px solid gray;background:gray;width:6px }
				
				#ap_val
					{position:absolute;top:110px;width:40px;height:20px;overflow:auto;left:300px;border:0; color: #ef2929;/*#f6931f*/; font-weight:bold;}	
				#hb1
					{position:absolute;top:145px;width:180px;height:30px;overflow:auto;}	
				#hb
					{position:absolute;top:150px;width:180px;height:10px;overflow:hidden;border:2px solid gray;left:110px;}	
				
				#hb .ui-slider-handle { border:2px solid gray;background:gray;width:6px }
				
				#amount
					{position:absolute;top:145px;width:40px;height:20px;overflow:auto;left:300px;border:0; color: #ef2929;/*#f6931f*/; font-weight:bold;}	
				
				#type1
					{position:absolute;top:190px;width:250px;height:30px;}
				
				#eg
					{position:absolute;top:240px;width:200px;height:20px;left:9px;border-style:ridge;border-width:5px;background-color:yellow;}
				
				
			
			#graph2
				{position:absolute;top:10px;width:600px;height:400px;left:390px}
				
				#jxgbox
					{position:absolute;top:2px;width:837px;height:250px;left:10px;}
					
				#scale2
					{position:absolute;left:705px;top:10px;}
			#graph1
				{position:absolute;top:135px;width:900px;height:400px;left:390px}
				
				#box1
					{position:absolute;top:135px;width:838px;height:400px;left:10px}
					
				#scale1
					{position:absolute;left:702px;top:5px;}
		#HR_M
		{position:absolute;top:40px;width:100px;height:10px;left:200px;overflow:auto;}
		#HR
		{position:absolute;top:20px;width:180px;height:10px;overflow:hidden;border:2px solid gray;left:95px;}
		#HR .ui-slider-handle { border:2px solid gray;background:gray;width:6px }
		#HR_val
		{position:absolute;top:10px;width:50px;height:20px;left:290px;}
		#heartBeat
		{position:absolute;top:10px;width:350px;height:50px;left:5px;border-style:ridge;border-width:5px;background-color:#657383;color:white;}
			
		