#tabs
	{position:absolute;width:1340px;height:600px;left:1px;}
		
	#time
		{position:absolute;top:95px;width:150px;height:30px;left:650px;}	
		#Hole1
			{position:absolute;top:158px;width:1335px;height:427px;left:4px;border:2px solid gray;}
		#Hole2
			{position:absolute;top:158px;width:1335px;height:427px;left:4px;border:2px solid gray;}
		#First
			{position:absolute;top:158px;width:1329px;height:420px;left:8px;border:1px solid black;}
		#First1
			{position:absolute;top:147px;width:1329px;height:420px;left:8px;border:1px solid black;}
			#Vel
			{position:absolute;left:8px;}
		#Formula
			{position:absolute;top:150px;width:300px;height:100px;left:800px;border:1px solid black;background-color:#330011;}
			#Box
			{position:absolute;top:145px;width:308px;height:108px;left:795px;border:2px solid gray;}
			#Box2
			{position:absolute;top:100px;width:600px;height:280px;left:500px;border:1px solid gray;background-color:#330011;}
			#Box3
			{position:absolute;top:0px;width:318px;height:278px;left:280px;border:1px solid gray;}
			#l1
				{position:absolute;top:50px;left:5px;}
			#t1	
				{position:absolute;top:90px;left:5px;}
			#l2
				{position:absolute;top:130px;left:5px;}
			#t2
				{position:absolute;top:170px;left:5px;}
			#Vel1
				{position:absolute;top:210px;left:5px;}
			#L1
				{position:absolute;top:70px;width:180px;height:20px;left:80px;border:1px solid black;background-color:white;}
			#T1
				{position:absolute;top:110px;width:180px;height:20px;left:80px;border:1px solid black;background-color:white;}
			#L2
				{position:absolute;top:150px;width:180px;height:20px;left:80px;border:1px solid black;background-color:white;}
			#T2
				{position:absolute;top:190px;width:180px;height:20px;left:80px;border:1px solid black;background-color:white;}
			#Velocity1
				{position:absolute;top:230px;width:180px;height:20px;left:80px;border:1px solid black;background-color:white;}
			#l3
				{position:absolute;top:80px;left:25px;}
			#l4
				{position:absolute;top:110px;left:25px;}
			#l5
				{position:absolute;top:140px;left:25px;}
			#l6
				{position:absolute;top:110px;left:155px;}
			#l7
				{position:absolute;top:110px;left:245px;}
			#l8
				{position:absolute;top:0px;left:5px;}	
			#l9
				{position:absolute;top:0px;left:5px;}	