body{
      margin: 0;
      padding: 0;
}

h2{
      float: right;
    
}

.header{
	top:5px;
	left:3px;
	position:absolute;
	border:2px groove  #c4c4c4;
	width:1450px;
	height:130px;
	overflow:auto;
	background : url("../../../images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #84BFDF;
}

#header{
      background-color: #e78f08;
      height: auto;
      margin: 2px;
      padding: 5px 20px 5px 5px;
      border: 2px soild;
      -moz-border-radius-topleft: 4px; 
      -moz-border-radius-topright: 4px; 
      -webkit-border-top-left-radius: 4px; 
      border-top-left-radius: 4px;
      font-weight: bold;
      font-size: 1.5em;
      text-align:right;
}

#container{
	position:absolute;
	top:140px;
	left:3px;
	width:1450px;
      background-color: #eeeeee;
      height: 925px;
      margin: 2px;    
	  
}
#handImage{
	padding:10px;
	width: 220px;
}
#knobOne{
	background-color: tansparent;
	height: auto;
	position: absolute;
	left: 500px;
	top: 150px;
	z-index: 7;
	width: 50px;
}
#knobOneTxt {
    height: auto;
	width:50px;
    left: -45px;
    position: relative;
    top: 20px;
    width: 60px;
}
#gaugeOne{
	background-color: tansparent;
	height: auto;
	width:auto;
	position: absolute;
	left: 1270px;
	top: 150px;
	z-index: 25;
	
}

#dializer{
	background-color: green;
	height: 250px;
	width:200px;
	position: absolute;
	left: 670px;
	top: 250px;
	z-index: 25;
	
}
#controller{
	background-color: #E78F08;
	height: 150px;
	width:300px;
	position: absolute;
	left: 1100px;
	top: 350px;
	z-index: 25;
	padding:10px;
	border:5px solid gray;
	margin:10px;
	color:white;
	
	/*font-weight:bold;*/
	
}
.controllerHeading{
	text-align:center;
	font-weight:bold;
	color:white;
}
#principle{
	height: 250px;
	width:300px;
	position: absolute;
	left: 1100px;
	top: 105px;
	z-index: 25;
	padding:10px;
	border:5px solid gray;
	margin:10px;
	
}
.txt{
	background-color: yellow;
	width:60px;
}

#onoff{
	background-color: tansparent;
	height: auto;
	position: absolute;
	left: 1000px;
	top: 100px;
}
#jarleft img{
	position:absolute;
	left:595px;
	top:620px;
	width:90px;
	height:140px;
}

#jarright img{
	position:absolute;
	left:498px;
	top:620px;
	width:90px;
	height:140px;
}
#gaugeTwo {
	position:absolute;
	left:220px;
	top:816px;
	width:auto;
	height:auto;
}
#bloodAirBtn{
	position:absolute;
	left:108px;
	top:682px;
	background-color: #E78F08;
	height: 140px;
	width:150px;
	padding:10px;
	border:5px solid gray;
}
.button1 {
  color: #FFF;
  background-color: #900;
  
}
input.button { 
	  color:#050; 
	  font: bold 84%'trebuchet ms',helvetica,sans-serif; 
	  background-color: #fed; 
	} 
#wrap {

	left:1200px;
	top: 120px;
	height:100px;
	width:100px;
}
#wrap2 {
	left:300px;
	top: 500px;
}
#angleOne{
	width:1px;
	background-color:red;
	height:1px;
	left:772px;
	top:840px;
	position:absolute;
}
#angleTwo {
    background-color: red;
    height: 1px;
    left: 544px;
    position: absolute;
    top: 333px;
    width: 1px;
}
#angleThree {
    background-color: red;
    height: 30px;
    left: 107px;
    position: absolute;
    top: 835px;
    width: 30px;
}
.on { 
border:1px outset;
color:#369;
background:#f9d543; 
height:50px;
width:80px;
font-weight: bold;
font-size:15px;
}

.off {
border:1px outset;
color:#369;
background:#efefef; 
height:50px;
width:80px;
font-weight: bold;
font-size:15px;
}
#onOff{
	left:1209px;
	top:61px;
	position:absolute;
	height:auto;
	width:auto;
}
#refresh{
	left:1309px;
	top:58px;
	position:absolute;
	height:auto;
	width:auto;
}
#blood {
    background-color: #7C5656;
    height: 50px;
    left: 756px;
    position: absolute;
    top: 550px;
    width: 74px;
}
#bloodDrop {
    background-color: transparent;
    height: 190px;
    left: 780px;
    position: absolute;
    top: 650px;
    width: 90px;
}
#air {
    background-color: #7C5656;
    height: 74px;
    left: 220px;
    position: absolute;
    top: 792px;
    width: 50px;
}
#airBloodCanvas {
    background-color:transparent;
    position:absolute;
    left:280px;
    top:830px;
    width:123px;
    height:100px;
    
}
.blood{
	margin:5px 5px 10px 30px;
}
.air{
	margin:10px 10px 30px 10px;
}