
#tabs
	{position:absolute;width:1300px;height:570px;font-family:Times New Roman,times,serif;}

#tabs-1
	{position:absolute;top:161px;width:1212px;height:55px;font-family:"Times New Roman",times,serif;border:2px solid gray;}
	
	#function1
		{position:absolute;top:10px;width:380px;height:40px;left:40px;}

		#toggleBtn
		{position:relative;top:15px;left:40px;}
		#HR_M
		{position:absolute;top:35px;width:100px;height:10px;left:200px;}
		#HR
		{position:absolute;top:10px;width:100px;height:10px;left:200px;border:2px solid gray;}
		#HR .ui-slider-handle { background:gray;width:10px ;height:10px;top:0;left:0;}
		
		#angtxt
		{position:absolute;top:20px;width:100px;height:20px;left:500px;}
		#HR_val
		{position:absolute;top:10px;width:50px;height:20px;left:320px;}
		
	#box1
		{position:absolute;top:85px;width:994px;height:300px;left:20px;background-image:url('../images/gg.png');}	
	#scale1
		{position:absolute;left:1000px;top:10px;}
	#label
		{position:absolute;left:1000px;top:10px;width:250px;}
	#function2	
		{position:absolute;left:1050px;top:100px;width:200px;height:290px;border-style:ridge;border-width:3px;background-color:#424242;color:white;}
		#selectabn
		{width:200px;}
	#axisX
		{position:absolute;top:390px;width:1200px;height:30px;left:42px;}
	
	#axisY
		{position:absolute;top:97px;width:30px;height:340px;left:15px;}	


#time
	{position:absolute;top:160px;width:150px;height:30px;left:40px;}	
			
	
